<a href="https://colab.research.google.com/github/huppybirthday/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

日本サッカー選手のデータから条件に合うデータを探すプログラム

In [1]:

!wget "https://drive.google.com/uc?export=download&id=10vpfTNC2HnmfZGFQ6kc9HsuEuQ62yN1G" -O players2.csv

--2022-12-24 08:51:38--  https://drive.google.com/uc?export=download&id=10vpfTNC2HnmfZGFQ6kc9HsuEuQ62yN1G
Resolving drive.google.com (drive.google.com)... 64.233.188.100, 64.233.188.113, 64.233.188.139, ...
Connecting to drive.google.com (drive.google.com)|64.233.188.100|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/dqljff6tvdn4knmafgfus7vo6pv41fk7/1671871875000/13477778096128204812/*/10vpfTNC2HnmfZGFQ6kc9HsuEuQ62yN1G?e=download&uuid=274435e8-b775-4037-b0d5-412bd427d694 [following]
Warning: wildcards not supported in HTTP.
--2022-12-24 08:51:39--  https://doc-08-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/dqljff6tvdn4knmafgfus7vo6pv41fk7/1671871875000/13477778096128204812/*/10vpfTNC2HnmfZGFQ6kc9HsuEuQ62yN1G?e=download&uuid=274435e8-b775-4037-b0d5-412bd427d694
Resolving doc-08-10-docs.googleusercontent.com (doc-08-10-docs.googleusercontent.com)... 108.177.125.132, 2404:6800:4008:c01::84
Connecting to doc-08-10-docs.googleusercontent.com (doc-08-10-docs.googleusercontent.com)|108.177.125.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 791 [text/csv]
Saving to: ‘players2.csv’

players2.csv        100%[===================>]     791  --.-KB/s    in 0s

2022-12-24 08:51:39 (12.7 MB/s) - ‘players2.csv’ saved [791/791]

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('players2.csv')
df

           選手名  年齢   身長  体重  出場数  ゴール数
0         川島永嗣  38  185  74   92     0
1         権田修一  32  187  83   22     0
2   シュミット・ダニエル  28  197  88    7     0
3         中村航輔  26  185  82    6     0
4         長友佑都  34  170  68  125     4
5         佐々木翔  31  177  70   11     0
6         谷口彰悟  29  183  75    5     0
7          昌子源  28  182  76   19     1
8         山根視来  27  178  72    3     1
9          室屋成  27  176  69   14     0
10        植田直通  26  186  77   15     1
11       中谷進之介  25  184  79    2     0
12        小川諒也  24  183  78    4     0
13        原口元気  30  177  68   60    11
14        伊東純也  28  176  68   24     5
15        橋本拳人  27  183  76   12     1
16        南野拓実  26  174  67   31    16
17        古橋亨梧  26  170  63    5     3
18        守田英正  26  177  75    8     2
19         川辺駿  25  178  70    3     1
20        鎌田大地  24  180  72   13     4
21        坂元達裕  24  170  63    1     0
22        大迫勇也  31  182  71   49    23
23        浅野拓磨  26  171  70   20     4
24      オナイウ阿道  25  180  75    1     0

In [18]:
age_min = int(input('年齢：下限：'))
age_max = int(input('年齢：上限：'))

len_min = int(input('身長：下限：'))
len_max = int(input('身長：上限：'))

kg_min = int(input('体重：下限：'))
kg_max = int(input('体重：上限：'))

shu_min = int(input('出場数：下限：'))
shu_max = int(input('出場数：上限：'))

goal_min = int(input('ゴール数：下限：'))
goal_max = int(input('ゴール数：上限：'))

年齢：下限：25
年齢：上限：28
身長：下限：175
身長：上限：190
体重：下限：70
体重：上限：80
出場数：下限：0
出場数：上限：1000
ゴール数：下限：2
ゴール数：上限：50

In [40]:
#このセルを実行して結果を表示
age_min = 20
age_max = 26

df_age = df[df[age_min <= df['年齢']]['年齢'] <= age_max]

df_len = df_age[len_min <= df_age['身長']]
df_len = df_len[df_len['身長'] <= len_max]

df_kg = df_len[df_len[kg_min <= df_len['体重']]['体重'] <= kg_max]

df_shu = df_kg[df_kg[shu_min <= df_kg['出場数']]['出場数'] <= shu_max]

df_goal = df_shu[goal_min <= df_shu['ゴール数']]
df_goal = df_goal[df_goal['ゴール数'] <= goal_max]
df_goal

     選手名  年齢   身長  体重  出場数  ゴール数
18  守田英正  26  177  75    8     2
20  鎌田大地  24  180  72   13     4